body {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#renderCanvas {
	z-index: 1;
  	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#buttonPanel {
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
	width: max-content;
	padding: 20px;
}

.roundbutton {
	position: relative;
	width: 70px;
	height: 70px;

	margin: 5px;
	padding: 1px;

	border: 5px solid darkgray ;

	background-color: white;
	color: darkslategray;

	font-size: 0.8em;

	moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;

	display: table;
}

.text {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.roundbutton:hover {
	opacity: 0.6;
}
