.blue.webix_menu-x{
    background:#3498DB;
}
.in_shadow{
    -moz-box-shadow:    inset 0 0 16px #ccc;
    -webkit-box-shadow: inset 0 0 16px #ccc;
    box-shadow:         inset 0 0 16px #ccc;
}
.border{
    -moz-box-shadow:    0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow:         0 0 10px #000;
}